function Cron_Schedule($location) {
	// wakeup at 7am on School days
	for($day = 1; $day <= 5; $day++) {
		Cron.Job("0 7 * * "+$day, function() {
			$location.path("/wakeup/rise");
		});
		
		Cron.Job("5 7 * * "+$day, function() {
			$location.path("/wakeup/dress");
		});
		
		Cron.Job("10 7 * * "+$day, function() {
			$location.path("/wakeup/breakfast");
		});
		
		Cron.Job("30 7 * * "+$day, function() {
			$location.path("/wakeup/teeth");
		}))
		
		Cron.Job("35 7 * * "+$day, function() {
			$location.path("/wakeup/backpack");
		});
		
		Cron.Job("40 7 * * "+$day, function() {
			$location.path("/wakeup/leave");
		});
		
		Cron.Job("55 7 * * "+$day, function() {
			$location.path("/clock");
		});
	}
}
